{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
  {% for article in articles %}
  <section class="article">
        <h2>{{article.title}}</h2>
        <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} a 
        {{article.createdAt | date('H:i')}}
        Ullamco anim deserunt aute ipsum ipsum ex nostrud ut.
        </div>
        <div class="content">
        <img alt="" src="{{article.image}}">
        {{article.content | raw}}
          <a href="{{path('blog_show',{'id':article.id})}}" class="btn btn-primary">Lire la suite </a>
          </p>
          </div>
  </article>
    {% endfor %}
{% endblock %}
